@model IEnumerable<Category>
@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <div class="row">
        <h2>Category List</h2>
        <hr />
        <div class="col">
            @if (Model.Count()>0)
            {
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Details</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <th>@item.CategoryID</th>
                            <th>@item.Name</th>
                            <th>
                                <a class="btn btn-primary" asp-controller="Category" asp-action="AddOrUpdate" asp-route-id="@item.CategoryID">Details</a>
                            </th>
                            <th>
                                <a class="btn btn-danger" asp-controller="Category" asp-action="Delete" asp-route-id="@item.CategoryID">Delete</a>
                            </th>
                        </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <div class="alert alert-danger">
                    Kategori Eklenmemiştir.
                </div>
            }
        </div>
    </div>
</div>
