
@{
    ViewData["Title"] = "AddOrUpdate";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model Blog

<div class="container bg-dark p-3 rounded-3">
    <h2 class="mb-3 pt-3 text-light">
    @if (Model is null)
    {
        <span>Create a Blog</span>
    }
    else
    {
        <span>Update a Blog</span>
    }
    </h2>
    <form asp-controller="Blog" asp-action="AddOrUpdate" method="post">
        <input type="hidden" asp-for="BlogID" />
        <div class="form-group mb-3">
            <label asp-for="Title" class="text-light">Title</label>
            <input asp-for="Title" class="form-control">
        </div>
        <div class="form-group mb-3">
            <label asp-for="Description" class="text-light">Description</label>
            <input asp-for="Description" class="form-control">
        </div>
        <div class="form-group mb-3">
            <label asp-for="Body" class="text-light">Body</label>
            <input asp-for="Body" class="form-control">
        </div>
        <div class="form-group mb-3">
            <label asp-for="Image" class="text-light">Image</label>
            <input asp-for="Image" class="form-control">
        </div>
        <div class="form-group mb-3">
            <label asp-for="isApproved" class="form-check-label text-light">Is Approved?</label>
            <input asp-for="isApproved" class="form-check-input">
        </div>
        <div class="form-group mb-3">
            <label asp-for="isHome" class="form-check-label text-light">Is Home?</label>
            <input asp-for="isHome" class="form-check-input">
        </div>
        <div class="form-group mb-3">
            <label asp-for="Image" class="text-light">Category</label>
            <select class="form-control" asp-for="CategoryID" asp-items="ViewBag.Categories">
                <option disabled selected value="">Select Category</option>
            </select>
        </div>
        <button type="submit" class="btn btn-outline-primary form-control">Save</button>
    </form>
</div>

