@model Blog
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<div class="container p-3 bg-dark rounded-3">
    <h2 class="mb-3 text-light">
        <b>Do you want to delete a record named " @Model.Title " ?  </b>
    </h2>
    <form asp-controller="Blog" asp-action="Delete" method="post">
        <input type="hidden" asp-for="BlogID" />
        <button class="btn btn-outline-primary form-control" type="submit">Delete</button>
    </form>
</div>

