
@model Blog
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Update a Blog</h2>
    <br />
    <form asp-controller="Blog" asp-action="Edit" method="post">
        <input type="hidden" asp-for="BlogID" />
        <div class="form-group">
            <label asp-for="Title">Title</label>
            <input asp-for="Title" class="form-control">
        </div>
        <div class="form-group">
            <label asp-for="Description">Description</label>
            <input asp-for="Description" class="form-control">
        </div>
        <div class="form-group">
            <label asp-for="Body">Body</label>
            <input asp-for="Body" class="form-control">
        </div>
        <div class="form-group">
            <label asp-for="Image">Image</label>
            <input asp-for="Image" class="form-control">
        </div>
        <div class="form-group">
            <label asp-for="Image">Image</label>
            <select class="form-control" asp-for="CategoryID" asp-items="ViewBag.Categories">
                <option disabled selected value="">Select Category</option>
            </select>
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>

